tzlocal==2.1
lxml
numpy
pycryptodome
requests
urllib3
bencoder
cn2an
PyYAML
transmission-rpc
dnspython
PlexAPI
APScheduler
emoji
torrent-parser
beautifulsoup4
Flask
Flask-RESTful
Flask-APScheduler
Flask-SQLAlchemy
Flask-Cors
cacheout
Flask-JWT-Extended
pandas
httpx
qbittorrent-api
flasgger
python-Levenshtein
tenacity
httpx[socks]
py7zr
rarfile
langid
chardet
hanzidentifier
ffsubsync
pysrt
ass
selenium
random_user_agent
unrar
magnet2torrent
pytesseract
Pillow
aria2p
pypinyin
iso639-lang
PyMySQL
ffmpeg-python
aiofiles
aiohttp
voluptuous
pyrate-limiter
ddddocr